body {
  background-color: GREY; /* Black background */
  /* color: #ffffff; */
  padding: 20px;
}
.container{
 /* border:  2px solid black; */
 background-color: white;
 padding: 10px;
 width: 900px;
margin-top: 30px;
 margin-left: 27%;
 transition:cubic-bezier(0.075, 0.82, 0.165, 1);
 /* box-shadow: 10px 10px; */
 
}



